h1 {
    text-align: center;
    font-family: sans-serif;
}

#center {
    margin: auto;
}

.userCountdownInput {
    margin-left: 25px;
    max-width: 400px;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 3em;
    padding: 1em;
    background: #dfa7009f;
    border-radius: 5px;
    box-shadow: 0 0 5px, rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    font-size: 1.2em;
}

/* .eventDate {
    font-family: sans-serif;
} */
input[type="date"] {
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 1.2em;
}

.button {
    border-radius: 8px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: aqua;
    color: aliceblue;
}

/* alert/error */
#demo {
    margin: 25px;
    font-family: sans-serif;
    font-size: 2em;
}

/* countdown widget */
.until {
    margin: 25px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    padding: 1em;
    background: #b600df;
    border-radius: 5px;
    box-shadow: 0 0 5px, rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

.until-component {
    text-align: center;
    background: white;
    border-radius: 5px;
}

.until-numeric {
    color: darkslategrey;
    padding: 0.5em 0;
    font-size: 3em;
    font-weight: bold;
}

.until-unit {
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: rgb(55, 136, 138);
}

.until-event {
    grid-column: span 4;
    text-align: center;
    color: white;
    font-weight: bold;
}
